* {
  font-family: Montserrat, sans-serif;
}

.table-display {
  display: table;
  width: 100%;
}

.table-child {
  display: table-cell;
  height: 80vh;
  vertical-align: middle;
}

#introduction {
  background-color: #51a7a8;
}

#counter {
  line-height: 0.875;
  font-weight: 800;
  color: #273654;
  font-size: 70px;
  width: 200px;
  text-align: center;
}

.counter-subtitle {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.tagline {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.pledge-button {
  margin-top: 100px;
}
#pledge-title,
#pledges-list {
  margin-top: 50px !important;
}
a:hover {
  color: #273654 !important;
  text-decoration: none;
}

.bg-blue {
  background-color: #51a7a8;
}
.bg-grey {
  background-color: #ececec;
}
a:link {
  text-decoration: none;
}

.footer-link {
  color: black !important;
}
.footer-link:hover {
  color: #51a7a8 !important;
  font-weight: 400;
}

.a-link {
  color: white !important;
}
.a-link:hover {
  color: black !important;
  font-weight: 400;
}
#increment-button:hover {
  color: white !important;
  font-weight: 400;
}

.ball-pulse > div {
  background-color: #51a7a8 !important;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pledge-card {
  background: white;
}
#goToTopBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 60px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  width: 40px;
  padding: 5px;
  object-fit: cover;
  border: 1px solid #4169e1;
  border-radius: 50%;
  background-color: #4169e1;
}

#fisher-man {
  width: 100%;
  max-width: 700px;
}

@media (max-width: 1024px) {
  #intro-gif {
    display: none;
  }

  .tagline.font-weight-bold,
  .counter-subtitle {
    text-align: center;
  }
  #product-container {
    height: 100%;
    text-align: center;
  }
  #product-img {
    max-height: 500px;
    width: 100%;
    object-fit: contain;
  }
  #product-tag .table-child {
    height: 20%;
  }

  @media (max-width: 768px) {
    #counter-container {
      text-align: center;
      flex-flow: column;
    }

    #counter {
      margin: 0 auto;
    }

    #pledge-title,
    #pledges-list {
      margin-top: 0px !important;
    }
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
    #instagram-container {
      display: none;
    }
    #goToTopBtn {
      right: 45px;
    }
  }
}
