* {
  font-family: Montserrat, sans-serif;
}

body.modal-open {
  overflow: hidden;
}

.fs-18 {
  font-size: 18px;
}

.table-display {
  display: table;
  width: 100%;
}

.table-child {
  display: table-cell;
  height: 80vh;
  vertical-align: middle;
}

#introduction {
  /* background-color: #51a7a8; */
  /* background-color: #bdedec; */
  background-color: #f0f0e6;
}

#intro-image {
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: 4;
  max-width: 300px;
  width: 15%;
}

.btn.btn-dark {
  width: 250px;
  border-radius: 25px !important;
}

.pledges-border {
  /* border: 4px solid #343a40; */
  padding: 10% 5% 5% 5%;
  /* text-align: center; */
  border-radius: 10px;
  margin: 0 50px;
}

#counter {
  line-height: 0.875;
  font-weight: 800;
  color: #273654;
  font-size: 70px;
  width: 200px;
  text-align: center;
}

.counter-subtitle {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.tagline {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.pledge-button {
  margin-top: 100px;
}
#pledge-title,
#pledges-list {
  margin-top: 50px !important;
}
a:hover {
  color: #273654 !important;
  text-decoration: none;
}

.bg-blue {
  background-color: #bdedec;
}
.bg-grey {
  background-color: #ececec;
}
a:link {
  text-decoration: none;
}

.footer-link {
  color: black !important;
}
.footer-link:hover {
  color: #51a7a8 !important;
  font-weight: 400;
}

.a-link {
  color: white !important;
}
.a-link:hover {
  color: black !important;
  font-weight: 400;
}
#increment-button:hover {
  color: white !important;
  font-weight: 400;
}

.ball-pulse > div {
  background-color: #000000 !important;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pledge-card {
  background: white;
}
#goToTopBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 60px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  width: 40px;
  padding: 5px;
  object-fit: cover;
  border: 1px solid #4169e1;
  border-radius: 50%;
  background-color: #4169e1;
}

#fisher-man {
  width: 100%;
  max-width: 700px;
}

#who-is-firm {
  /* position: absolute; */
  /* height: 650px; */
  object-fit: cover;
  /* top: -20px; */
  /* right: -300px; */
  /* margin-top: 150px; */
  /* margin-left: 100px; */
}

#who-is-firm-content .d-flex {
  margin-right: 30%;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

#did-you-know {
  margin-top: 100px;
}
.carousel-container .fp-tableCell {
  padding: 10% 15%;
  height: auto !important;
}

.checkbox-div {
  text-align: left;
}

.checkbox-div .custom-control.custom-checkbox {
  margin-bottom: 20px;
  font-size: 16px;
}

.swal2-title {
  font-size: 18px !important;
}
.swal2-actions {
  margin-top: 0px !important;
}
#swal2-content > div > div:nth-child(6) > div {
  margin-bottom: 5px;
}

.swal2-progress-steps {
  -webkit-box-align: center;
  align-items: center;
  margin: 0 0 1rem;
}

@media (max-width: 1024px) {
  .eapps-instagram-feed-title {
    font-size: 20px;
    line-height: 25px;
    padding: 10px 0;
  }

  #who-is-firm-content .d-flex {
    margin-right: 0%;
  }

  #intro-gif {
    display: none;
  }

  #intro-image {
    display: none;
  }

  #did-you-know {
    margin-top: 30px;
  }

  .checkbox-div .custom-control.custom-checkbox {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .tagline.font-weight-bold,
  .counter-subtitle {
    text-align: center;
  }
  #product-container {
    height: 100%;
    text-align: center;
  }
  #product-img {
    max-height: 500px;
    width: 100%;
    object-fit: contain;
  }
  #product-tag .table-child {
    height: 20%;
  }

  /* #who-is-firm-content {
    min-height: 100vh;
    padding: 10% 0 30%; 
  } */

  #who-is-firm-content.table-child {
    height: 100vh !important;
  }

  #who-is-firm {
    display: none;
    top: 200px;
    z-index: 9;
    right: 200px !important;
    /* width: 300px;
    height: 300px; */
    object-fit: contain !important;
  }

  .who-we-are-container {
    padding: 10% 15%;
  }

  #who-we-are-firm {
    display: none;
  }

  .pledges-border {
    text-align: center;
    padding: 5% 5% 5% 5%;
  }

  @media (max-width: 768px) {
    #instagram-widget {
      padding: 0 45px;
    }

    #counter-container {
      text-align: center;
      flex-flow: column;
    }

    #intro-image {
      display: none;
    }

    #counter {
      margin: 0 auto;
    }

    #pledge-title,
    #pledges-list {
      margin-top: 0px !important;
    }
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
    #instagram-container {
      display: none;
    }
    #goToTopBtn {
      right: 45px;
    }
  }
}
